<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome, {{ name }}!</h1>
    {# Using the 'name' variable #}
    <p>Happy {{ day }}!</p>
    {# Using the 'day' variable #}
    <h2>Your Tasks for Today:</h2>
    {% if tasks %}
    <ul>
        {% for task in tasks %}
        <li>{{ task }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No tasks for today.</p>
    {% endif %}
</body>

</html>